@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text:ital@1&family=Open+Sans:wght@300;800&display=swap');

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;

  main {
    padding-top: 70px;
    width: 100vw;
    min-height: 100vh;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

input, button, textarea, select, fieldset {
  border: none;
  background: none;
  outline: none;
}

cite {
  font-style: normal;
}

p, a, h1, h2, h3{
  font-family: 'Fanwood Text', serif;
  font-family: 'Open Sans', sans-serif;
}