@import url("https://fonts.googleapis.com/css2?family=Fanwood+Text:ital@1&family=Open+Sans:wght@300;800&display=swap");
*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}
body main {
  padding-top: 70px;
  width: 100vw;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

input, button, textarea, select, fieldset {
  border: none;
  background: none;
  outline: none;
}

cite {
  font-style: normal;
}

p, a, h1, h2, h3 {
  font-family: "Fanwood Text", serif;
  font-family: "Open Sans", sans-serif;
}

li {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
li figure {
  width: 100%;
}
li figure img {
  width: 100%;
}
li article {
  padding: 15px;
  position: absolute;
}
li article h3 {
  color: white;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px 30px 40px;
  background: #1b1c1D;
}
header h3 {
  font-size: 18px;
  color: white;
}
header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 25vw;
}
header ul li a {
  text-decoration: none;
  color: white;
}
header ul li:last-child {
  border-radius: 10px;
  padding: 10px;
  background: deepskyblue;
}

section.infoChampion {
  padding-top: 1px;
  width: 100vw;
  min-height: 100vh;
  background: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 5vh 3.5vw 40vh 3.5vw;
  box-shadow: inset 0 -30vh 20vh #000;
}
section.infoChampion::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 0%, 0.6);
}
section.infoChampion img.chepa {
  width: 100%;
  height: auto;
  backdrop-filter: blur(8px);
  box-shadow: inset 0 10vh 5vh #000;
}
section.infoChampion section {
  color: white;
  display: flex;
  align-items: center;
  position: absolute;
  top: 60%;
}
section.infoChampion section h3 {
  font-size: 25px;
}
section.infoChampion section h1 {
  font-size: 70px;
}
section.infoChampion section article {
  width: 70%;
  padding: 2%;
}
section.infoChampion section article p {
  font-size: 18px;
}

main.champion section.spellContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 5%;
}
main.champion section.spellContainer > section.spells {
  width: inherit;
  flex-direction: row;
}
main.champion section.spellContainer > section.spells h1 {
  padding-left: 5%;
  font-size: 40px;
}
main.champion section.spellContainer > section.spells section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
main.champion section.spellContainer > section.spells section ul {
  display: flex;
  align-items: end;
  padding: 5%;
}
main.champion section.spellContainer > section.spells section ul li {
  padding: 5px;
}
main.champion section.spellContainer > section.spells section article {
  padding: 5%;
}
main.champion section.spellContainer video {
  width: 80%;
}

main.home {
  padding: 0;
  width: 100vw;
}
main.home section.banner {
  height: auto;
}
main.home section.banner img {
  width: 100vw;
  height: auto;
}

main.listOfChampions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 10vh 2.5vw;
}
main.listOfChampions h1 {
  padding-bottom: 5%;
}
main.listOfChampions ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5em;
}
main.listOfChampions ul li:hover {
  transform: scale(1.1);
}

main.champion {
  width: 100vw;
  padding: 0;
}
main.champion section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
